<h1 i18n>This is multilingual application</h1>
<p i18n>I hope you like it</p>
<!-- <div>
  <h1>Template Form</h1>
  <p>{{ model | json }}</p>
  <div>
    <form #petForm="ngForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
        />
      </div>
      <div>
        <label for="specie">Specie</label>
        <select name="specie" id="specie" required [(ngModel)]="model.specie">
          <option *ngFor="let specie of species" [value]="specie">
            {{ specie }}
          </option>
        </select>
      </div>
      <button type="submit" [disabled]="!petForm.form.valid">submit</button>
    </form>
  </div>
  <div [hidden]="!submited">
    <h2>You submited:</h2>
    <p>Name: {{ model.name }}</p>
    <p>Specie: {{ model.specie }}</p>
    <button (click)="submited = false">Edit</button>
  </div>
</div> -->

<!-- <div>
  <h1>Reactive Form</h1>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [formControl]="name" />
    <p>Value: {{ name.value }}</p>
    <p>
      <button (click)="updateName()">Update Name</button>
    </p>
  </div>
  <div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" />
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" />

      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
  </div>
</div> -->

<!-- <div>{{ title }}</div>
<div>
  <app-parent></app-parent>
</div>
<div>
  <button (click)="toggleText()">Toggle</button>
  {{ showText }}
</div>
<div>
  {{ todaysDate | date: "EEEE MMMM d y" | uppercase }}
  <br />
  {{ "World" | greeting }}
</div>
<div>
  <button [disabled]="isCheck">Send</button>
</div>
<div (click)="onSave()">Save</div>
<div>
  <app-item-details (deleteRequest)="deleteItem($event)"></app-item-details>
</div>
<div>
  <app-app-sizer [(size)]="fontSizepx"></app-app-sizer>
  <div [style.font-size.px]="fontSizepx">Resizeble text</div>
</div>
<div>
  <input #phone placeholder="Phone" />
  <button (click)="callPhone(phone.value)">Call</button>
</div>
<div>
  <div [ngClass]="isSpecial ? 'special' : ''">Example</div>
  <div [ngClass]="currentClasses">Example</div>
  <div [ngStyle]="currentStyle">Example</div>
</div>
<div>
  <p [appHighlight]="'pink'">Highlight directive</p>
</div>
<div>
  <div *ngIf="isActive">Active</div>
  <div *ngFor="let item of items">
    <div>∘ {{ item.name }}</div>
  </div>
  <div [ngSwitch]="item.name">
    <div *ngSwitchCase="'Bob'">Hi dad</div>
    <div *ngSwitchCase="'Monika'">Hi Mom</div>
    <div *ngSwitchDefault>Hi Friend</div>
  </div>
</div> -->

<!-- <div>
  <h1>Angular router app</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/first-component/1">First Component</a>
      </li>
      <li>
        <a routerLink="/second-component">Second Component</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div> -->
