<div>{{ title }}</div>
<div>
  <app-parent></app-parent>
</div>
<div>
  <button (click)="toggleText()">Toggle</button>
  {{ showText }}
</div>
<div>
  {{ todaysDate | date: "EEEE MMMM d y" | uppercase }}
  <br />
  {{ "World" | greeting }}
</div>
<div>
  <button [disabled]="isCheck">Send</button>
</div>
<div (click)="onSave()">Save</div>
<div>
  <app-item-details (deleteRequest)="deleteItem($event)"></app-item-details>
</div>
<div>
  <app-app-sizer [(size)]="fontSizepx"></app-app-sizer>
  <div [style.font-size.px]="fontSizepx">Resizeble text</div>
</div>
<div>
  <input #phone placeholder="Phone" />
  <button (click)="callPhone(phone.value)">Call</button>
</div>
<div>
  <div [ngClass]="isSpecial ? 'special' : ''">Example</div>
  <div [ngClass]="currentClasses">Example</div>
  <div [ngStyle]="currentStyle">Example</div>
</div>
<div>
  <p [appHighlight]="'pink'">Highlight directive</p>
</div>
